h1 About
.scroll-wrapper
	p My name is Christian Amdi, and I'm a multimedia design student. I was born and raised in a small city near Copenhagen in Denmark. I am currently studying in Lyngby, and once 2020 begins, the second semester of my educational journey on CPH business will commence. 
	p My passion for design and digital communication is what drives my motivation and will to improve myself. I am an extremely detail-oriented designer who will rather rethink and revise my work over and over again until an entirely satisfactory result has been reached. I am always aiming for innovative and satisfying solutions that will help myself and others excel at what they do.
