h1 Contact
.scroll-wrapper
	p.manchet  What have I learned over the course of my first semester as a multimedia designer on CPH Business? I will go over each flow or "chapter" in the semester a provide a few reflectings.  What have I learned over the course of my first semester as a multimedia designer on CPH Business? I will go over each flow or "chapter" in the semester a provide a few reflectings.  What have I learned over the course of my first semester as a multimedia designer on CPH Business? I will go over each flow or "chapter" in the semester a provide a few reflectings. 

	form(action='#', method='POST')
		.field#field-name
			label(for="field-name") Name:
			input(type="text", name="name", placeholder="Who are you?" required)
		.field#field-email
			label(for="field-email") Email:
			input(type="email", name="email", placeholder="How do I reach you?" required)
		.field#field-subject
			label(for="field-email") Subject:
			input(type="text", name="subject", placeholder="What is your message about?")
		.field#field-message
			label(for="field-message" name="message") Message:
			textarea(placeholder="What do you want to say to me?" required)
			
		input.submit(type="submit" value="Send Message")
