h1 Exam
.scroll-wrapper
	p.manchet This specific page has been created explicitly for the first-semester multimedia designer exam on CPH Business. I hope you will find my portfolio website, its design and its content pleasant. Below you can find the original assignment that we were given as well as other relevant information. I want to keep my website accessible to everyone, which is why all the text on the site is written in English - thank you.
	a.button(href="downloads/exam.pdf" target="_blank") Full Exam Assignment
		.square
			img(src="images/icons/assignment.svg")

	h2 Planning
	p As described in the project requirements, your overall development and skills in project management must be documented. This has been done using the following three charts.
	a.button(href="images/charts/PBS.png" target="_blank") Objective Breakdown Structure
		.square
			img(src="images/icons/launch.svg")
	a.button(href="images/charts/OBS.png" target="_blank") Product Breakdown Structure
		.square
			img(src="images/icons/launch.svg")
	a.button(href="images/charts/WBS.png" target="_blank") Work Breakdown Structure
		.square
			img(src="images/icons/launch.svg")

	h2 Remakes
	article
		h4
			| Flow 1.1 - 
			.extralight "Drøm dit Portfolio" 
			|  Dream your Portfolio
		.container
			.content
				p The first flow was about imagining our first portfolio and working within Adobe XD for the first time. While I did create a working prototype, my actual portfolio didn't come to look anything like it. Unfortunately, I completed the assignment without any prototype interactivity. This was the main feedback as well, which is why I've gone ahead and made functional buttons and added a quick way to go back to the homepage.
				p Changes to this flow are very minimal as it's obsolete.
				a.button(href="https://xd.adobe.com/view/b6de26ab-62ae-44ba-7b56-046df9b55d9e-c0ef/grid" target="_blank") Old Version
					.square
						img(src="images/icons/thumb_down.svg")
				a.button(href="https://xd.adobe.com/view/6364f8e8-1e3a-48e9-4a30-533af0dd483e-1555/" target="_blank") Improved Version
					.square
						img(src="images/icons/thumb_up.svg")
				a.button(href="downloads/flow-1.pdf" target="_blank") Original Assignment
					.square
						img(src="images/icons/assignment.svg")
			.changelog
				h6 Changelog:
				ul
					li Added a universal button to go back to home.
					li The prototype is now fully interactive.
					li Minor design changes.

	article
		h4
			| Flow 1.2 - 
			.extralight "Byg dit Portfolio" 
			|  Build your Portfilio
		.container
			.content
				p The original portfolio was similar in design but was programmed very differently. While the old layout was created using flexbox, the new layout is created using the relatively new grid system. The amount of content shown at a time has been increased and browsing the actual portfolio has been made a lot easier.
				p After a reasonably comprehensive user test it was evident that my old portfolio didn't include enough content, was too bland in design, didn't work on all devices and screen sizes and content, material and articles was challenging to read due to the small frame size of the website. I've tried to tackle all these issues.
				a.button(href="downloads/flow-2.pdf" target="_blank") Original Assignment
					.square
						img(src="images/icons/assignment.svg")
			.changelog
				h6 Changelog:
				ul
					li The code has been re-written from scratch.
					li The website is now entirely responsive.
					li Increased the size of the window in which content is displayed.
					li Colours and spacings are now perfectly consistent across the entire site.
					li Added several animations.
					li And much much more.

	article
		h4 
			| Flow 1.3 - 
			.extralight "Byg en App" 
			|  Build an App
		.container
			.content
				p Unfortunately, I wasn't able to finish this assignment in time, so instead of altering my the last assignment, I have instead decided to create a whole new app and new design from scratch. The application is built for a relatively new physical store concept where customers can rent physical shelf space and sell their second-hand items. This application helps customers with booking, checking what items have been sold and how much money they've made. It's also possible to withdraw money directly from the application.
				p Use the following link to check out the Adobe XD Prototype.
				a.button(href="https://xd.adobe.com/view/071ea073-bb6c-4854-5105-fc30ad256bd9-712f/" target="_blank") Old Version
					.square
						img(src="images/icons/thumb_up.svg")
				a.button(href="downloads/flow-3.pdf" target="_blank") Original Assignment
					.square
						img(src="images/icons/assignment.svg")

	article
		h4 
			| Flow 1.4 - 
			.extralight "Verdenmålskampagne" 
			|  World Campaign
		.container
			.content
				p The landing page we had worked on for the world campaign had already gone from prototype to an actual website. The site did, however, not work very well on smaller devices and wasn't build to be very responsive in general. Despite the responsiveness not being optimal, the website worked pretty well and got limited feedback. The main criticism was the fact that the header on top of the splash image could be challenging to read in certain situations.
				p The new landing page should be a lot more responsive, and the readability of the text should be a lot better as well. These changes are somewhat scanty but can have a huge impact on the site.
				a.button(href="http://christianamdi.com/plastik/" target="_blank") Old Version
					.square
						img(src="images/icons/thumb_down.svg")
				a.button(href="http://christianamdi.com/plastik/new/" target="_blank") Improved Version
					.square
						img(src="images/icons/thumb_up.svg")
				a.button(href="downloads/flow-4.pdf" target="_blank") Original Assignment
					.square
						img(src="images/icons/assignment.svg")
			.changelog
				h6 Changelog:
				ul
					li Removed unused code.
					li The website is now entirely responsive.
					li The header is now more visible.

	h2 Videos
	aticle
		p While the following videos might seem random or out of place of the portfolio, I took to chance to practise my filmmaking and video editing capabilities on something more concrete. I have recorded and edited a series of videos that are to be used in a family quiz for my grandmothers 90th birthday. Together, the videos have required a lot of careful planning, research and editing. While you might be missing some context, I think the videos alone is an excellent showcase of what I've learned over the first semester on CPH Business.
		p According to the assignment, there weren't any direct requirements for the video segment, so I'm very hopeful this will suffice.
		.auto-grid
			.grid-item
				h4 Træning
				.frame-wrapper
					iframe(src="https://www.youtube.com/embed/jR6PT6GsgwQ")
			.grid-item
				h4 Håndtryk
				.frame-wrapper
					iframe(src="https://www.youtube.com/embed/zy8TcQfQTzU")
			.grid-item
				h4 Transport
				.frame-wrapper
					iframe(src="https://www.youtube.com/embed/r61Qc0UDNAY")
			.grid-item
				h4 Signaturkage
				.frame-wrapper
					iframe(src="https://www.youtube.com/embed/1B9yf3KH9pQ")
			.grid-item
				h4 Hygge
				.frame-wrapper
					iframe(src="https://www.youtube.com/embed/5sxU1YVMsbo")


				
	
	h2 Features & Process
	article
		h4 Source Code
		p The portfolio has been created from scratch using Pug for the HTML, Sass for the CSS and some Javascript. The reason behind using these pre-processors is the intuitiveness and feature-rich arsenal that they provide. The website has been coded using multiple sub-pages for the sake of organisation. These pages have then been compiled into one HTML file and one CSS file. To optimise the website even further, the code has been so-called "minified" upon compilation which makes the data faster to read for the browser, but more challenging to read for humans - to see the actual source code before compilation, go to my GitHub page below.
		a.button(href="#" target="_blank") GitHub - Source Code
			.square
				img(src="images/icons/github.svg")
		
		h4 Features & Compatibility
		p The website is using the newest HTML5 and CSS3 - this means that I have been using features such a flexbox, the relatively new grid system, advanced selectors, animations and transitions, variables, media queries and much more to create a dynamic and exciting website.
		p The site has been created with the three most prominent browsers in mind, namely Google Chrome, Mozilla Firefox and Microsoft Edge. Due to the lack of any Apple devices, I was unable to test and enhance the website for the Apple Safari browser.
		
		
		
		
		
		
		
		
		
		.container-row
			.ring
				img(src="images/pug.svg" alt="Pug")
			.ring
				img(src="images/sass.svg" alt="Sass")
